.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  justify-content: center !important;
  height: 543px !important;
}

.hide {
  display: none;
}

.show {
  display: flex;
}
